$white: #FFFFFF; // rgba(255 255 255 1)
$davy-gray: #4a4a4a; // rgba(74, 74, 74, 1)
$ghost-white: #fafafa; // rgba(250, 250, 250, 1)
$black: #000000; // rgba(0, 0, 0, 0.05)
$pink:#E91E63;
$grey:#aaa;
$red:#ee0000;
$lightBlue:#0C7EAF
