@import '../../styles/mixins';
@import '../../styles/responsive-mixin';



.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 440px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid $grey;
  border-radius: 4px;
  @include breakpoint(xs) {
    width: 310px;
  }
  &:focus {
    outline: none;
  }
}


.react-autosuggest__container--open {
    & .react-autosuggest__input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  & .react-autosuggest__suggestions-container {
    display: block;
    position: absolute;
    top: 51px;
    width: 480px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
    overflow-y: auto;
    height: 400px;
    @include breakpoint(xs) {
       width: 350px;
    }
  }

}
  .react-autosuggest__suggestions-container {
    display: none;
  }



  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 5px 0;
    &:not(:first-child) {
      border-top: 1px solid $white;
    }
  }


  .react-autosuggest__suggestion--focused {
    background-color: $lightBlue;
    color: $white;
    & .highlight {
      color: $black;
    }
  }

  .suggestion-content {
    display: flex;
    align-items: flex-start;
    background-repeat: no-repeat;
    flex-direction: column;
    .name {
      margin-left: 11px;
      line-height: 45px;

    }
    .img{
      width: 33px;
      height: 33px;
      background-size: contain;
      display: inline-flex;
      margin: 0 12px;
      vertical-align: middle;
    }

    .highlight {
      color: $red;
      font-weight: bold;
    }
    .description {
      display: flex;
     @include text(13px);
      color: $grey;
      padding: 2px 13px;
    }
  }






